<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <h1>Stupid coach</h1>
  <p><%= @answer %></p>
  </body>
</html>
