<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <h1>Stupid coaching</h1>
  <p class="margin-btn">Ask your coach anything:</p>
    <form action="/answer">
      <input type="text" name="question" class="form-control" id="first-input">
      <input type="submit" value="Ask!" class="form-control" id="second-input">
    </form>
  </body>
</html>
